* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #cb00e6; */
}

.container {
  max-width: 1200px;
  margin: 0 auto ;
  padding: 0 ;
  display: flex;
  background-color: #FFF8E7;
  height: 100vh;
}

.basic-container{
  max-width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-border{
  border: 3px solid #4a2c0c;
}




body {
  /* Warm and Inviting */
  

  /* original /*
  /* background-color: rgb(192, 155, 99); */


 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('images/background-2.jpg');
  background-size: cover;
}

.icon-large{
  font-size: 2rem;
}

.fancy-text{
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}

.direct-text {
  
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 5rem;
}

.layedback-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.undecorate {
  text-decoration: none;
}

.active {
  color: #000000;
 text-shadow: none;
}

.margin-s-top {
  margin-top: 20px;
}

.margin-m-top {
  margin-top: 40px;
}

.margin-l-top {
  margin-top: 60px;
}

.margin-xl-top {
  margin-top: 80px;
}

.margin-s-bottom {
  margin-bottom: 20px;
}

.margin-m-bottom {
  margin-bottom: 40px;
}

.margin-l-bottom {
  margin-bottom: 60px;
}

.margin-xl-bottom {
  margin-bottom: 80px;
}

.margin-s-left {
  margin-left: 20px;
}

.margin-m-left {
  margin-left: 40px;
}

.margin-l-left {
  margin-left: 60px;
}

.margin-xl-left {
  margin-left: 80px;
}

.margin-s-right {
  margin-right: 20px;
}

.margin-m-right {
  margin-right: 40px;
}

.margin-l-right {
  margin-right: 60px;
}

.margin-xl-right {
  margin-right: 80px;
}

.image-small-h{
  width: 100%;
  height: 75%;
}

.image-small-v{

  width: 60%;
  height: 55%;

}

ul {
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

/* HEADER */

.header {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  /* background-color: #DBCFB3; */


  /* like my pants? */
  /* background-color: #b9a476; */
background-image: url('images/header-back.jpg');
  background-size: cover;
  /* original */
  /* background-color: rgb(251, 255, 218); */

  padding: 30px;
  

  text-align: center;
}

.header-text {
  font-size: 2rem;
  color: #fff;
  margin-left: 10px;
  text-shadow: 2px 2px 0 #000; /* Add black outline */
}


.header-items {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 15px;
  
}

.header-item {
  margin-left: 100px;
  font-size: 1.5rem;
  color: #000;
  text-decoration: none;
  transition: transform 0.3s, color 0.3s; /* Add transition for transform and color */
  color: #fff;
  text-shadow: 1.5px 1.5px 0 #000; /* Add black outline */
}



.header-item:hover {
  transform: scale(1.1); /* Increase size on hover */
  color: #725221; /* Change color on hover */
  text-shadow: 0px 0px 0 #5e431c;
}

.cta-button {
  display: inline-flex; /* Use flexbox for alignment */
  align-items: center; /* Center items vertically */
  /* background-color: #b47225; */
  background-image: url('images/background-2.jpg');
  color: #000;
  font-size: 1.5rem;
  padding: 15px 30px;
  text-decoration: none;
  
  border-radius: 50px; /* Pill shape */
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  position: relative;
  overflow: hidden;
  border: 1px solid #000;
}

.cta-button:hover {
  background-color: #cb00e6;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.button-icon {
  font-size: 2.4rem;
  margin-right: 10px;
 
}

.button-text {
  margin-left: 5px; /* Adjust spacing between icon and text */
  font-size: 1.5rem;
}

/* HERO */


.image-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 100vm;
  background-image: url('https://images.unsplash.com/photo-1612838320302-4b3b3b3b3b3b');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  border-bottom: 2.5px solid #000;
  padding-bottom: 70px;
}

.image-hero img{
  animation: rise 1s ease-out forwards;
}

.hero-img-1 {
  margin-top: 140px;
  margin-right: 60px;
  width: 70%;
  height: 70%;
}

.hero-img-2 {
  margin-top: 130px;
  width: 85%;
  height: 85%;
}

.hero-img-3 {
  margin-top: 140px;
  margin-left: 60px;
    width: 70%;
    height: 70%;
  }


  .text-hero{
    margin-top: 120px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 150px;
    font-size: 2rem;
    color: #000;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  


.text-hero.show {
    opacity: 1;
}


/* Footer */
.footer {

  bottom: 0;
  width: 100%;
  background-color: rgb(251, 255, 218);
  color: #000;
  text-align: center;
  padding: 10px ; 
}



/* Keyframes */

@keyframes rise {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


/* ABOUT */

.left-side {
  width: 600px;
  padding: 40px;
  border-left: .5px solid #000;
}

.right-side {
  /* background-color: #f5e2b5; */
  background-image: url('images/image-background.jpg');
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: .5px solid #000;
}

.about-description{
  font-size: 1rem;
}

.image-cluster{
  display: flex;
  /* justify-content: center;
  align-items: center; */
  /* margin-top: -20px; */
}




/* PRICING */



.pricing-card-holder {
  display: flex;
  justify-content: center;
  align-items: center;
 padding: 20px;
 width: fit-content;
}

.pricing-card{
  width: 300px;
  height: 420px;
  background-color: #f5e2b5;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}

.pricing-img{
  
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  margin-bottom: -20px;
}


.pricing-list{
  text-align: left;
  margin-top: 10px;
  
}
.command{
  font-size: 1.5rem;
  margin-top: 20px;
  text-align: center;

}

.all-price-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF8E7;
  
}

.card-a{
  text-decoration: none;
  color: #000;
}
li {
  list-style-type: none; /* Remove default bullet points */
  padding: 5px 0; /* Adjust padding as needed */
}