<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iBellaPhotos</title>
    <link rel="stylesheet" href="../styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Oleo+Script&family=Poppins&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

    <style>
        .photo-item {
            margin-bottom: 20px;
        }

        .photo-item img {
            width: 20%;
            height: 20%;
            height: auto;
            display: block;
        }
    </style>
</head>
<body>

  
<div class="header">
  <div class="header-items">
      <div class="logo">
          <i class="bi bi-camera icon-large"></i>
          <a href="index.html" class="undecorate"><h1 class="header-text undecorate direct-text">iBellaPhotos</h1></a>
      </div>
      <a href="../about.html" class="header-item direct-text">About</a>
      <a href="../booking.html" class="header-item direct-text">Booking</a>
      <a href="../galleries" class="header-item active direct-text">Gallery</a>
      <a href="../contact.html" class="header-item direct-text">Contact</a>
  </div>


</div>

<h1><%= gallery.name %></h1>
   
      <div class="photo-grid">
        <% if (photos && photos.length > 0) { %>
          <% photos.forEach(photo => { %>
      
              <div class="photo-item">
                  <img src="<%= photo.url %>" alt="<%= photo.name %>" width="300" height="300">
              </div>
              
          <% }); %>
        <% } else { %>
          <p>No photos found.</p>
        <% } %>
      </div>
      
</div>
<script>
  // Initialize Masonry layout
  var grid = document.querySelector('.photo-grid');
  var masonry = new Masonry(grid, {
      itemSelector: '.photo-item',
      columnWidth: '.photo-item',
      gutter: 20 // Adjust the gap between items as needed
  });
</script>

</body>
</html>
