<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Galley View</title>
</head>
<body>
    
  <h1> <%= galleryId %> </h1>
<h4>hello</h4>
</body>
</html>